<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:insert="fragments/general.html :: bootstrapcss">
    <title>Question update</title>
</head>
<body>
<header th:insert="fragments/general.html :: header"></header>
<div class="container">
    <div class="row">
        <div class="col-4 offset-4">
            <h2 class="h2">Role update</h2>
            <form th:action="@{/admin/role/{id}(id=${role.getId()})}" th:method="POST" th:object="${role}" class="mt-5">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input disabled="disabled" type="text" class="form-control" id="name" th:value="${role.getName()}">
                </div>
                <div th:each="authority: ${authorities}">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <div th:if="${role.checkAuthority(authority)}">
                            <span th:text="${authority.getName()}"></span>
                            <a th:href="@{/admin/role/delete/{roleId}/{authorityId}(roleId=${role.getId()},authorityId=${authority.getId()})}">delete</a>
                        </div>
                        <div th:if="${!role.checkAuthority(authority)}">
                            <span th:text="${authority.getName()}"></span>
                            <a th:href="@{/admin/role/add/{roleId}/{authorityId}(roleId=${role.getId()},authorityId=${authority.getId()})}">add</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>